input[type="file"] {
  position: relative;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  font-size: 1rem;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

label[for="image"] {
  font-size: 1rem;
  color: #495057;
  margin-bottom: 0;
}

input[type="file"]:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.title-contacto {
  color: #f08080;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  border-bottom: 1px dotted #f08080;
  margin-top: 10px;
}

/*Animaciones*/
.contact-info img {
  transition: transform 0.3s ease;
}

.contact-info img:hover {
  transform: rotate(5deg);
}

/* Ocultar las flechas en los inputs de tipo number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.contact-info-description {
  border: 2px dotted #9c1c2b;
  margin: 20px auto;
  padding: 10px;
  border-radius: 20px;
}

.contact-info-description:hover {
  background-color: #f08080;
  transition: background-color 0.5s;
}

.bold-text {
  font-weight: bold;
  text-decoration: underline;
}

/* Estilos para campos inválidos */
.is-invalid {
  border-color: #dc3545 !important; /* Color de borde rojo */
}

/* Estilos para campos válidos */
.is-valid {
  border-color: #28a745 !important; /* Color de borde verde */
}

/* No requiere de css adicional para dispositivos como tablets o moviles */
