/* Estilos del contenedor */
.container {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin: 20px auto;
}

/* Estilos de las secciones */
.hero,
.favorites,
.donate,
.about {
  padding: 30px;
}

.content-inicio {
  display: flex;
  justify-content: center;
  gap: 5px;
  border-bottom: 1px dotted #f08080;
  height: 61.8px;
  margin-top: 10px;
}

.content-inicio h1 {
  color: #f08080;
}

/* Estilos de logo */
.logo-title {
  width: 170px;
  height: 61px;
  animation: slideIn 2s ease-out forwards;
}

/* Estilos de la sección hero */

.hero {
  background-color: #f5b7b1;
  color: #fff;
  padding: 50px;
  /*border-radius: 10px;*/
  border-radius: 50px;
}

.hero h1 {
  font-size: 3em;
  margin-bottom: 20px;
  animation: fadeInDown 1s ease-out;
}

.hero p {
  font-size: 1.2em;
  animation: slideInUp 1s ease-out 0.5s;
}

.hero a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #f14a4a;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  animation: bounceIn 1s ease-out 1s;
}

.hero a:hover {
  background-color: #f01f1f;
}

/* Estilos de la sección donate */
.donate {
  background-color: #f5b7b1;
  color: #333;
  padding: 30px;
  margin-top: 20px;
  border-radius: 50px;
  animation: fadeInUp 1s ease-out;
}

.donate h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.donate p {
  font-size: 1.1em;
  animation: slideInRight 1s ease-out 0.5s;
}

.donate a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: transparent;
  color: #f33c3c;
  border: 2px solid #f33c3c;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  animation: fadeInRight 1s ease-out 1s;
}

.donate a:hover {
  background-color: #ec2c2c;
  color: #fff;
}

/* Estilos de la sección favorites */
.favorites {
  background-color: #f7be67;
  color: #333;
  padding: 30px;
  margin-top: 20px;
  border-radius: 50px;
  animation: fadeInUp 1s ease-out;
}

.favorites h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.favorites p,
.favorites ul {
  font-size: 1.1em;
  animation: slideInLeft 1s ease-out 0.5s;
}

.favorites ul {
  padding-left: 20px;
}

.favorites ul li {
  margin-bottom: 10px;
}

/* Estilos de la sección about */
.about {
  background-color: #f5b94a;
  color: #333;
  padding: 30px;
  margin-top: 20px;
  border-radius: 50px;
  animation: fadeInUp 1s ease-out;
}

.about h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.about p {
  font-size: 1.1em;
  animation: slideInLeft 1s ease-out 0.5s;
}

.user-list {
  list-style-type: none;
  padding: 0;
}

.user-item {
  margin-bottom: 10px;
}

.user-item i {
  margin-right: 5px;
}

/* Keyframes de las animaciones */

/* Para las imagenes */
/* Animación de deslizamiento desde la izquierda */
@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Animación de deslizamiento desde la derecha */
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Aplicar la animación de deslizamiento desde la derecha a la tercera imagen */
.content-inicio div:nth-child(3) .logo-title {
  animation: slideInFromRight 2s ease-out forwards;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Animaciones de AOS */
[data-aos] {
  opacity: 0;
  transition-property: opacity, transform;
}

[data-aos].aos-animate {
  opacity: 1;
}

/* Ajustes adicionales para AOS */
[data-aos="fade-up"] {
  transform: translateY(20px);
}

[data-aos="fade-up"].aos-animate {
  transform: translateY(0);
}

[data-aos="fade-in"] {
  transform: translateY(20px);
}

[data-aos="fade-in"].aos-animate {
  transform: translateY(0);
}

/* Media queries para tablets */
@media (max-width: 1024px) {
  .content-inicio {
    /*flex-direction: column;*/
    align-items: center;
    height: auto;
  }

  .logo-title {
    width: 150px;
    height: auto;
  }
  .content-inicio h1 {
    font-size: 1.5em;
    margin: 10px 0;
  }
}

/* Media queries para móviles */
@media (max-width: 768px) {
  .content-inicio {
    align-items: center;
    height: auto;
  }

  .logo-title {
    width: 120px;
    height: auto;
  }

  .content-inicio h1 {
    font-size: 1.2em;
    margin: 10px 0;
  }
}
